* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  background-color: lightgreen;
  height: 50em;
  width: 100%;
}

section h1 {
  padding: 5px;
  font-size: 80px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.move {
  padding: 30px;
  margin-left: 37%;
  border: none;
  background-color: lightgreen;
}

.board {
  width: 300px;
  height: 300px;
  border: none;
}

div {
  border: 1px solid black;
  width: 100px;
  height: 101px;
  display: inline-block;
  background-color: white;
}

.circulito {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  z-index: 0;
}

.circulito2 {
  margin: 15px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.cruz {
  position: relative;
  height: 20px;
  width: 100px;
  border: 1px solid black;
  background-color: blue;
  bottom: -39px;
  transform: rotate(45deg);
}

.cruz2 {
  position: relative;
  height: 100px;
  width: 20px;
  border: 1px solid black;
  background-color: blue;
  left: 38px;
  top: -40px;
}

@media (min-width: 501px) {
  .move {
    margin-left: 23%;
  }
}

@media (max-width: 500px) {
  .move {
    margin-left: 10%;
    margin-right: auto;
  }
  section h1 {
    padding: 0;
    font-size: auto;
  }
  .board {
    width: 15em;
    height: 15em;
  }

  div {
    width: 5em;
    height: 5em;
  }
}

@media (max-width: 300px) {
  .board {
    width: 10em;
    height: 10em;
  }

  div {
    width: 3.33em;
    height: 3.33em;
  }
}
